#root {
  background-color: #1a1919;  
  --pm-color: #ff4f18;
  color:  white;
}
.wrap {
  word-wrap: break-word;
}



/*Bulma overrrides*/
a {
  color: #998c88;
}

a:hover, a:focus {
  color: #cfc8c6;
}
.button {
  transition: color .3s ease;
}
.button.is-ghost:hover {  
  color: #fff;
  text-decoration: none;
}
.button:focus:not(:active), .button.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em #403838;
}
.input:active,
.input:focus,
.input:active:focus {
  box-shadow: none;
  
}
.input:active {
  /*Wierd bug; mousdown on label and move out of label will change the border color of input, triggering active state*/
  /*border-color has been applied to override this bug on line 117 */
}


/*cols*/
.title:not(.is-spaced) + .subtitle {
    margin-top: -1rem;
}


.image.is-48x48 {
  height:  auto;
}


/*nav*/
.navbar-item img {
  width:  auto;
}
.navbar-brand .logo-text {
  margin-left:  0.5rem;
  font-size:  24px;
  font-weight: bold;
  color: var(--pm-color);
}




/*cards*/
.control.has-icons-left .icon,
.control.has-icons-right .icon {
  pointer-events: auto;
  cursor: pointer;
  color:  #d3c7c7;
}
.card {
  background-color: #282626;
  color: white;
  height: 100%;
}

.control.has-icons-right .input:focus ~ .icon {
  color: #d3c7c7;
  transition:  color .3s ease;
}
.control.has-icons-right .icon:focus {
  color: #fff;
  outline: 0;
}
.control.has-icons-right .icon:focus-visible {  
  outline: 1px solid #efe5e5;
  color: #fff;
}
#search:focus + .icon {
  color: #fff;
}




/*forms*/
.label {
  color:  #efe5e5
}

.input::-webkit-input-placeholder {
  color: #9f9696;
}

.input,
input:-webkit-autofill,
input:-webkit-autofill:focus,
input[data-autocompleted] {
  background-color: #282626;  
  border-color: #3a3636;
  color: #efe5e5;
  transition: border-color .3s ease, background-color 999999s ease, color 999999s ease, font-size 999999s ease;
}
.input:hover, .input:active {
  border-color: #444040;
}
.input:focus {
  border-color: #544f4f;
  color: #efe5e5;
  box-shadow: none;
}


/*content*/
.content h1, 
.content h2, 
.content h3, 
.content h4, 
.content h5, 
.content h6 {
  color: #efe5e5;
}
.content p:not(:last-child) {
  margin-bottom: 8px;
  color: #efe5e5;
}

.content figure img {
  display: block;
}














/*Main css*/
#root {
  min-height: 100vh;
}

.navbar {
  background-color: #1a1919;
}
.logo-text, .headline {
  font-family: 'Cinzel', sans-serif;
}
.main {
  
}
.content .headline {
  color: #ff4c18;
  margin-bottom: 4rem;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fa-spin {
  animation: spin 1s infinite linear;
}
.main label.toggle-btns {
  display: block;
  margin: auto;
  margin-bottom: 1.5rem;
  width: fit-content;
  justify-content: center;
  border-radius: 50px;
  background-color: #282626;
  position: relative;
}
.toggle-btns .button {
  width: 140px;  
  color: #efe5e5;
}
.main .toggle-btns.darken {  
  background-color: #252424;
}
.toggle-btns .cover {
  background-color: #c94a25;
  width: 140px;
  border-radius: 50px;
  position: absolute;
  left: 0;
  height: 40px;
  transition: transform .3s ease;
  transform: translateX(140px);
}
.toggle-btns .cover.left {
  transform: translateX(0);
}
.toggle-btns.darken-active .cover { 
  background-color: #b23d20;
}







/*Cards*/

.no-results h2 {  
  text-align: center;
  color: #efe5e5;
  margin: 0;
  position: relative;
  bottom: -12px; /*same as padding top of card*/  
}

.main .cards {
  margin-top: 2rem;
}

.cards .ext-link {
  font-size:  12px;
}


.item-enter { /*react transition plugin general classes*/
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


.cards figure {
  margin:  0;
}
.cards audio {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
}
/*Firefox like styling*/
.cards audio::-webkit-media-controls-panel {
  background-color: #423e3e;
}
.cards audio::-webkit-media-controls-enclosure {
  border-radius: 0;
  max-height: 40px;
}
.cards audio::-webkit-media-controls-current-time-display {
  text-shadow: none;
}
.cards audio::-webkit-media-controls-time-remaining-display {
  text-shadow: none;
}
